*{
	margin: 0;
	padding: 0;
}
body{
	padding-top: 4%;
}
ul,ol,li{
	text-decoration: none;
	display: inline-block;
}
a{
	text-decoration: none;
	color: inherit;
}
nav{
	margin-bottom: 5%;
}

nav a{
	color: white;
}
#imagem-principal{
	width: 100%;
}
#sobre{
	background-color: #eee;
}
.espacamento{
	padding: 3% 0;
}
.desenho{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}