*{
	margin: 0;
	padding: 0;
}
body{
	padding-top: 4%;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
ul,ol,li{
	text-decoration: none;
	display: inline-block;
}
a, a:hover{
	text-decoration: none;
	color: inherit;
}
nav{
	margin-bottom: 5%;
}

nav a{
	color: white;
}
h2,h3,h4{
	text-align: center;
}
.icones-habilidades{
	margin: 2% 0;
	font-size: 7em;
}
#imagem-principal{
	width: 100%;
}
#sobre{
	background-color: #eee;
}
.espacamento{
	padding: 3% 0;
}
#sobre-paragrafo{
	text-indent: 3%;
	text-align: justify;
}
footer{
	overflow: hidden;
	background-color: black;
}
.skills{
	margin-top: 5%;
}
.projects{
	margin-top: 6%;
	text-align: center;
}
h3, h5{
	font-weight: bold;
}
.medias-contact{
	margin: 5% 0;
}
.projetosmain h3{
	margin: 5% 0;
}
.projetosmain li{
	display: block;
}
.icon-margin{
	margin-left: 25%;
}
.icon-margin-email{
	margin-left: 30%;
}
.icon-margin-linkedin{
	margin-left: 10%;
}
.integranteNome{
	font-size: 1.5em;
	text-align: center;
}
.integranteNome + p{
	text-align: center;
}
.img-projeto img{
	margin: 3% 0;
}
.last-img{
	padding-bottom: 15%;
}
@media only screen and (min-width: 1000px){
	.container-fluid img{
		height: 18rem !important;
	}
	.container-fluid .card{
		height: 30rem !important;
	}
}
@media only screen and (max-width: 600px) {
	#home{
		margin-top: 39.95px;
	}
	#projects-section{
		margin: auto !important;
	}
	.projetosmain{
		margin-top: 15%;
	}
	.icon-margin{
		margin-left: 30%;
	}
	.icon-margin-email{
		margin-left: 35%;
	}
	.img-projeto img{
		margin: 5% 0;
	}
}
